.contenedor{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    background: #E5E5E5;
    font-family: 'Inter', sans-serif;
}

.texto{
    color: #0A3871;
    font-family: 'Inter', sans-serif;
    position: absolute;
    width: 577px;
    height: 48px;
    left: 20%;
    top: 20%;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    border: none;
    background: none;
    resize: none;
    vertical-align: top;
}

.texto::placeholder{
    color: #0A3871;
}

.texto:focus, .texto:active{
    outline: none;
    border: none;
}

