.contenedor{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background: #F3F5FC;
    font-family: 'Inter', sans-serif;
}

.imagen-alura{
    position: absolute;
    left: 8.4%;
    top: 4%;
}

/*TEXTO ENCRIPTADOR*/

.texto{
    color: #0A3871;
    font-family: 'Inter', sans-serif;
    position: absolute;
    width: 42%;
    height: 37%;
    left: 20%;
    top: 20%;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    border: none;
    background: none;
    resize: none;
    vertical-align: top;
}

.texto::placeholder{
    color: #0A3871;
}

.texto:focus, .texto:active{
    outline: none;
    border: none;
}

/* ZONA BOTONES */

.precaucion{
    position: absolute;
    display: flex;
    align-items: center;
    left: 20%;
    top: 80%;
    width: 25%;
    margin: 0 0 2% 0;
}

.precaucion p{
    font-size: 12px;
    color: #495057;
    font-weight: 400;
    margin: 0 0 0 2.5%;
}

.botones{
    position: absolute;
    display: flex;
    align-items: flex-start;
    width: 80%;
    height: 12%;
    padding: 1% 0;
    left: 20%;
    top: 82%;
}

.boton-encriptar{
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 24px;
    background-color: #0a3871;
    color: #FFFFFF;
    width: 25%;
    padding: 2%;
    gap: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    margin: 0 2% 0 0;
}

.boton-desencriptar{
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0A3871;
    background-color: #F3F5FC;
    width: 25%;
    padding: 2%;
    gap: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
}

/* CAJA DE TEXTO SIN NADA */

.caja-mensaje{
    display: flex;
    position: absolute;
    width: 20%;
    height: 91%;
    background: #FFFFFF;
    left: 72%;
    top: 4%;
    box-sizing: border-box;
    box-shadow: 0 24px 32px -8px rgba(0,0,0,8%);
    border-radius: 32px;
}

.muñeco-texto{
    display: flex;
    position: absolute;
    width: 90%;
    flex-direction: column;
    text-align: center;
    top: 23%;
    left: 5%;
}

.muñeco-texto h2{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #343A40;
    line-height: 120%;
    margin: 5% 0 5% 0;
}

.muñeco-texto p{
    line-height: 150%;
    font-size: 16px;
    font-weight: 400;
    color: #495057;
}

/*PARA PANTALLA DE TELEFONO-400PX*/

@media only screen and (min-width: 320px) and (max-width: 480px){
    

    /*TEXTO ENCRIPTADOR*/

    .imagen-alura{
        left: 5%;
        top: 5%;
    }

    .texto{
        width: 90%;
        left: 5%;
        top: 15%;
        height: 29%;
    }


    /* BOTONES */

    .precaucion{
        top: 45.4%;
        width: 90%;
        left: 5%;
    }

    .botones{
        top: 48%;
        width: 90%;
        flex-direction: column;
        gap: 22.5px;
        left: 5%;
    }

    .boton-encriptar, .boton-desencriptar{
        width: 100%;
        padding: 6%;
    }

    /* CAJA DE TEXTO SIN NADA */

    .caja-mensaje{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 85%;
        height: 25%;
        left: 8%;
        top: 70%;
    }

    .foto-muñeco{
        display: none;
    }

    .muñeco-texto{
        top: auto;
        gap: 10px;
    }

    .muñeco-texto h2{
        margin: auto 0;
    }
}

/* PARA TABLET */

@media screen and (min-width:700px) and (max-width: 1024px) and (orientation: portrait) {

    /*TEXTO ENCRIPTADOR*/

    .imagen-alura{
        left: 5%;
        top: 7%;
    }

    .texto{
        left: 5%;
        top: 22.5%;
        width: 90%;
        height: 32%;
    }

    /* BOTONES */

    .precaucion{
        top: 62.4%;
        width: 90%;
        left: 5%;
    }

    .botones{
        top: 65%;
        width: 90%;
        gap: 18px;
        left: 5%;
    }

    .boton-encriptar, .boton-desencriptar{
        width: 100%;
        padding: 4%;
    }

     /* CAJA DE TEXTO SIN NADA */

    .caja-mensaje{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 90%;
        height: 15.3%;
        left: 5%;
        top: 80%;
    }

    .foto-muñeco{
        display: none;
    }

    .muñeco-texto{
        top: auto;
        gap: 10px;
    }

    .muñeco-texto h2{
        margin: auto 0;
    }

}

/* PARA CELULARES EN ROTACION HORIZONTAL */

@media screen and (min-width:700px) and (max-width: 1024px) and (orientation: landscape) {
   
    .texto{
        height: 50%;
        width: 41.45%;
    }

    .precaucion {
        width: 50%;
        top: 79%;
    }

    .boton-encriptar, .boton-desencriptar{
        border-radius: 15px;
    }

    .caja-mensaje{
        left: 70%;
        width: 25%;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .muñeco-texto{
        top: auto;
    }

}